/* Selectors */


/* فقط تگ های پی که مستقیم بچه پروداکت هستند این خاصیت را میگیرند */
/* #products >p{
    color:gold
} */
/* فقط اولین تگ پی که همجوار یا برادر و خواهر پروداکت هست  ای خاصیت را میگیرد */
/* #products + p{
    color:red
} */
/*  تمام تگ های پی هم جوار پروداکتس رو انتخاب میکنه و اس علامش تیلدا هست  بالایی فقط اولیشو انتخاب میکنه این همه رو  */
/* #products ~ p{
    color:red
} */

/* اینجا تمام تگ های لینکی را انتخاب می کند که این خاصیت داخل براکت رو دارند */
/* a[target="_blank"]
{
    color: red;
} */

/* اینجا تمام تگ های لینگی را انتخاب میکند که تو آدرسشون کلمخه گوگل هست */
/* a[href*="google"]
{
    color: red;
} */

/* اینجا تمام تگ های لینگی را انتخاب میکند که آدرسشون با این کلمه شرو میشه */
/* a[href^="http://"]
{
    color: red;
} */

/* اینجا تمام تگ های لینگی را انتخاب میکند که آدرسشون با این کلمه تموم میشه */
/* a[href$=".com"]
{
    color: red;
} */

/*    >,+,~   */
/*   *,^,$    */