<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style4.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="items">
      <div class="item item-one">itemA</div>
      <div class="item item-tow">itemB</div>
      <div class="item item-tree">itemC</div>
     
    </div>

    <div class="body">
        <div class="top"></div>
        <div class="buttom">
            <div class="left">A</div>
            <div class="right">B</div>
        </div>
    </div>
  </body>
</html>
