<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style7.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dicta eos
        fugiat nulla? Error, tenetur labore obcaecati aut perspiciatis
        reprehenderit expedita ab ipsam delectus nostrum sit qui odio, nemo
        sapiente.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dicta,
        unde veritatis explicabo voluptatem dolorem sint exercitationem
        distinctio sunt et ipsa accusamus culpa officiis minus a voluptas, nemo,
        esse temporibus!
      </p>
    </div>
  </body>
</html>
