body{
    padding: 2rem;
}

form{
    
    max-width: 40%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2rem;
}
.form-control
{
    margin-bottom: 1rem;
}
label{
    display:block;
    margin-bottom: 0.4rem;
}
input[type="text"]
 ,[type="password"],
 textarea
 {
    border: 1px solid #e5e7e5;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    /* transition: border 0.15s, box-shadow 0.15s; */
    transition: all 0.15s;
}
input[type="text"]:focus
,[type="password"]:focus,
textarea:focus
{
    outline: 0;
    border: 2px solid #e5e7e5;
    box-shadow: 0 0 0 4px #f5f3ff;
}
textarea{
    resize: none;
    margin-bottom: 1rem;
}
button
{
    margin-top: 1rem;
    font-family: 'iranYekan';
    outline: none;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #a78bfa;
    color: #fff;
    padding: 0.5rem 0.7rem;
}
.radio
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.lbl
{
    display: inline;
}

input[type="number"]
{
width: 10rem;
}