.container
{
    background-image: url(../assets/images/Bridge.jpg);
    height: 100vh;
    background-position: left bottom;
    background-size: cover;
}
/* www.flaticon.com  =>filtershekan lazeme*/